:root {
	--color-dominant: #fefaf1;
	--color-complementary: #254634;
	--color-accent: #ffcb5a;
	--color-index: #cb2121;
}

body {
	background-color: var(--color-dominant);
}

.green-background {
	background-color: var(--color-complementary);
	* {
		color: var(--color-dominant);
	}
}

h1 {
	color: var(--color-accent);
}

h2,
h3,
p,
blockquote {
	color: var(--color-complementary);
}

.selector ul li {
	color: var(--color-index);
}
