$media-phone: 768px;
$media-tablet: 1200px;
$media-desktop: 1600px;

:root {
	// Spaces
	--narrow-inline: 3vw;
	--wide-inline: 20vw;
	--block-padded: 12rem;
	--items-padded: 2rem;
	// Borders
	--border-width: 0.15rem;
}
