---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Hello World!">
	<div class="background">
		<div class="foreground-wrapper">
			<img
				class="foreground"
				width="100%"
				height="auto"
				src="/img/foreground.png"
				alt=""
			/>
			<div class="header">
				<h1>HELLO MY NAME IS</h1>
				<div class="overlap">
					<h1>VINCENT</h1>
					<h1>VINCENT</h1>
				</div>
			</div>
			<img class="vincent" height="auto" src="/img/vincent.png" alt="" />
		</div>
		<div class="background">
			<img width="100%" height="auto" src="/img/lower-foreground.png" alt="" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.background {
		background-image: url("/img/background.jpg");
		background-size: fill;
		background-repeat: repeat;
		background-position: center center;
	}
	.foreground-wrapper {
		position: relative;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: self-end;
	}
	.foreground {
		position: absolute;
		z-index: 2;
	}
	.vincent {
		width: 70ch;
		z-index: 1;
	}

	.header {
		height: 100vh;
		padding-inline: 20%;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		top: clamp(10rem, 15vh, 15rem);
		.overlap {
			h1 {
				color: var(--color-accent);
				font-size: clamp(5rem, 21vw, 21rem);
				position: absolute;
			}
			:last-child {
				color: transparent;
				text-stroke: clamp(0.2rem, 0.2vw, 0.5rem) var(--color-accent);
				-webkit-text-stroke: clamp(0.2rem, 0.2vw, 0.5rem) var(--color-accent);
				z-index: 100;
			}
		}
	}
</style>
