---
import NavLinks from "./NavLinks.astro";
---

<header>
	<nav>
		<div>
			<NavLinks />
			<div class="hamburger">
				<button id="btn-hamburger">
					<img
						src="/svg/hamburger.svg"
						alt="Hamburger menu for navigation links on mobile"
					/>
				</button>
			</div>
		</div>
	</nav>
</header>

<style lang="scss">
	@use "@styles/variables.scss" as media;

	nav {
		background-color: var(--color-dominant);
		mix-blend-mode: hard-light;
		width: 100vw;
		position: fixed;
		z-index: 100;
		& div {
			padding-inline: 20vw;
			width: 100vw;
			display: flex;
			justify-content: space-around;
		}
		.hamburger {
			display: flex;
			& a {
				text-decoration: none;
			}
			@media only screen and (min-width: media.$media-phone) {
				display: none;
				justify-content: space-around;
			}
		}
		#btn-hamburger {
			background-color: transparent;
			border: none;
		}
	}
</style>
