---
import NavLinks from "./NavLinks.astro";
---

<header>
	<nav>
		<div>
			<NavLinks />
			<div class="hamburger">
				<button id="btn-hamburger">
					<img
						src="/svg/hamburger.svg"
						alt="Hamburger menu for navigation links on mobile"
					/>
				</button>
			</div>
		</div>
	</nav>
</header>

<style lang="scss">
	@use "@styles/variables.scss" as media;

	nav {
		opacity: 0;
		animation: slideIn 1s ease 1 forwards;
		animation-delay: var(--load-delay);
		padding-inline: 15vw;
		background-color: var(--color-dominant);
		mix-blend-mode: hard-light;
		width: 100vw;
		position: fixed;
		z-index: 100;
		& div {
			display: flex;
			justify-content: space-around;
		}
		.hamburger {
			display: flex;
			& a {
				text-decoration: none;
			}
			@media only screen and (min-width: media.$media-phone) {
				display: none;
				justify-content: space-around;
			}
		}
		#btn-hamburger {
			background-color: transparent;
			border: none;
		}
	}

	@-webkit-keyframes slideIn {
		from {
			opacity: 0;
			transform: translateY(-3rem);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
