<ul>
	<li><a href="/">V.</a></li>
	<li><a href="/">Work</a></li>
	<li><a href="/">Story</a></li>
	<li><a href="/">Contact</a></li>
</ul>

<style lang="scss">
	@use "@styles/variables.scss" as media;

	ul {
		width: 100%;
		@media only screen and (min-width: media.$media-phone) {
			display: flex;
			justify-content: space-between;
		}
		& li {
			list-style: none;
			& a {
				color: var(--color-complementary);
				text-decoration: none;
			}
		}
	}

	ul > li:not(:first-child) {
		display: none;
		@media only screen and (min-width: media.$media-phone) {
			display: flex;
			justify-content: space-between;
		}
	}
</style>
