---
const covers: Record<string, string>[] = await Astro.glob(
	"../../public/img/timeline/*.jpg"
);
---

<section>
	<div class="selector">
		{
			covers.map((cover, i: number) => {
				if (i === 0) {
					return (
						<button
							aria-label="select-period"
							class="btn-selector selected"
							style={`background-image: url(${cover.default});`}
						/>
					);
				} else {
					return (
						<button
							aria-label="select-period"
							class="btn-selector"
							style={`background-image: url(${cover.default});`}
						/>
					);
				}
			})
		}
		<div class="line"></div>
	</div>
	<div class="information">
		<h3>Title</h3>
		<p>My Name is Vincent</p>
	</div>
</section>

<script>
	import TimelineContent from "../classes/TimelineContent";

	const buttons: NodeListOf<HTMLButtonElement> =
		document.querySelectorAll(".btn-selector");
	const informationHeader: Element | null =
		document.querySelector(".information h3");
	const informationParagraph: Element | null =
		document.querySelector(".information p");

	const timelines = [
		new TimelineContent("1887 - 1890", "Lorem ipsum hambizo"),
		new TimelineContent("1911 - 1914", "Lorem ipsum hambizo"),
		new TimelineContent("1914 - 1920", "Lorem ipsum hambizo"),
	];

	const createContent = function (index: number) {
		informationHeader &&
			(informationHeader.textContent = timelines[index]?.title);
		informationParagraph &&
			(informationParagraph.textContent = timelines[index]?.body);
	};

	// Init content with first one
	createContent(0);

	buttons.forEach((button: HTMLButtonElement, i: number) => {
		// More accessibility baybay
		button.title = `Period between ${timelines[i]?.title}`;

		button.addEventListener("click", () => {
			buttons.forEach((other) => other.classList.remove("selected"));
			button.classList.add("selected");

			createContent(i);
		});
	});
</script>

<style lang="scss">
	@use "@styles/variables" as media;

	section {
		display: grid;
		grid-template-columns: 20% auto;
		.selector {
			.line {
				border-right: 0.1rem solid white;
				height: inherit;
				position: absolute;
			}
			width: 100%;
			height: 50vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		.btn-selector {
			z-index: 1;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			border: none;
			background: url("") no-repeat center center / cover;
			animation: scaleDownMobile 1s ease 1 forwards;
			@media only screen and (min-width: media.$media-phone) {
				animation-name: scaleDownDesktop;
			}
			animation-fill-mode: forwards;
		}

		.selected {
			animation: scaleUpMobile 1s ease 1 forwards;
			@media only screen and (min-width: media.$media-phone) {
				animation-name: scaleUpDesktop;
			}
		}

		@media only screen and (min-width: media.$media-phone) {
			grid-template-columns: auto;
			grid-auto-rows: auto auto;
			.selector {
				.line {
					border-bottom: 0.1rem solid white;
					height: max-content;
					width: 100%;
				}
				height: 20vh;
				flex-direction: row;
				justify-content: space-evenly;
			}
		}

		.information {
			margin-inline: var(--narrow-inline);
		}
	}

	@-webkit-keyframes scaleUpDesktop {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(5);
		}
	}

	@-webkit-keyframes scaleDownDesktop {
		from {
			transform: scale(5);
		}
		to {
			transform: scale(1);
		}
	}

	@-webkit-keyframes scaleUpMobile {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(2);
		}
	}

	@-webkit-keyframes scaleDownMobile {
		from {
			transform: scale(2);
		}
		to {
			transform: scale(1);
		}
	}
</style>
