---
const { isGreen = "false", id, title, background } = Astro.props;
---

<section class={isGreen === "true" ? "green-background" : ""} id={id}>
	<div>
		<h2>{title}.</h2>
		<img
			width="100%"
			src={background}
			alt="Doodles of my creation on random pieces of paper"
		/>
	</div>
	<slot />
</section>

<style lang="scss">
	section {
		padding-top: var(--block-padded);
		div {
			display: flex;
			align-items: center;
			& h2 {
				position: absolute;
				width: 100%;
				z-index: 101;
			}
			& img {
				z-index: 100;
			}
		}
	}
</style>
